extends ../layout.pug

block content
    .container-fluid
        h2.page-header Header

        img(src="http://www.thestandardbarbershop.com/wp-content/uploads/2017/04/2-3.jpg", alt="Header image")
        h2 Grand Lux
        h4 Salon & Barbery

        h2.page-header Social Media
        ul
            li: a(href="#") Facebook
            li: a(href="#") Instagram
            li: a(href="#") Twitter

        h2.page-header About
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, voluptates corrupti accusantium repellat modi voluptatibus aut odio aliquid praesentium. Suscipit, eius nisi quasi et dolore ipsam, enim alias excepturi amet eveniet corporis nihil ab quo voluptatibus molestias, expedita exercitationem quisquam adipisci officiis est nulla. Soluta ducimus sunt dolorum quas dignissimos debitis. Est delectus magni optio quos quis eligendi. Accusantium temporibus, facere facilis dolor sunt tempora nisi commodi provident vel, aspernatur reiciendis omnis vitae unde exercitationem eum consequuntur sequi et doloribus maxime minus ipsam delectus. Itaque nam quaerat et laborum adipisci reprehenderit, magnam quod sunt ipsum libero, atque assumenda quisquam expedita.

        h2.page-header Barbers
        img(src="https://media1-production-mightynetworks.imgix.net/asset/1987799/Bertus_Headshot.jpg?ixlib=rails-0.3.0&fm=jpg&q=75&auto=format")
        h3
            strong Joe
            span Doe
        span 4 year experiences

        h2.page-header Services & Prices
        ul
            li Haircut: $60
            li Fade: $90

        h2.page-header Schedule
        strong Tuesday-Friday 9am-6pm
        br
        strong Saturday: 9am-3pm
        br
        strong Sunday-Monday: Close

        br
        br