head
    title Grand Lux Salon & Barbery

    meta(charset="UTF-8")
    meta(name="robots" content="noodp")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="keywords" content="")
    meta(name="description" content="")

    //link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/libs/magnific-popup/dist/magnific-popup.css")
    link(rel="stylesheet", href="/libs/owl.carousel/dist/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="/css/style.css")