mixin profile-card(profile)
    .media
        img.mr-3.rounded-circle(src="https://pbs.twimg.com/media/DRGyLCUWkAIDFZv.jpg", alt="Barber Image", width="100px")
        .media-body.align-self-center
            h5.mt-0 Joe Doe
            p.text-muted.mb-0.small 4 Years Experiences
            a.small.mt-0(href="#") Portfolio
    .content.mt-2.text-muted
        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A reprehenderit pariatur rerum sit omnis perferendis quisquam, aperiam voluptatum error debitis fugiat aliquam qui praesentium, perspiciatis sapiente aspernatur optio maiores assumenda numquam quae nam ad. Numquam, autem blanditiis.

mixin profile-card-alt(profile)
    .card.text-center.border-0
        img.mr-3.rounded-circle.align-self-center(src="https://pbs.twimg.com/media/DRGyLCUWkAIDFZv.jpg", alt="Barber Image", width="150px")
        .card-body
            h4.mt-0.card-title Joe Doe
            p.text-muted.mb-0.card-subtitle 4 Years Experiences
            a.small.mt-0.mb-2(href="#") Portfolio
            p.card-text.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. A reprehenderit pariatur rerum sit omnis perferendis quisquam, aperiam voluptatum error debitis fugiat aliquam qui praesentium, perspiciatis sapiente aspernatur optio maiores assumenda numquam quae nam ad. Numquam, autem blanditiis.
