nav.navbar.navbar-expand-md.navbar-light.bg-white.fixed-top
    .container
        a.navbar-brand.text-uppercase.text-brand-primary(href="#") 
            img.mr-2(src="/assets/images/logo-black.png", width="48px")
            span.font-weight-bold Grand
            span.font-weight-light Lux
        button.navbar-toggler.border-0(type="button", data-toggle="collapse", data-target="#navbar")
            span.navbar-toggler-icon
        
        #navbar.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
                li.nav-item
                    a.nav-link.text-uppercase.text-brand-primary(href="#") Policy