nav.navbar.navbar-expand-md.navbar-light.bg-white.fixed-top
    .container-fluid
        a.navbar-brand.text-uppercase(href="#") 
            span.font-weight-bold Grand
            span.font-weight-light Lux
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar")
            span.navbar-toggler-icon
        
        #navbar.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href="#") Home
                li.nav-item
                    a.nav-link(href="#") About