.modal.fade#policy-modal(tabindex="-1", role="dialog", aria-labelledby="Policy", aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title(id="policy") Policy
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nobis facilis neque alias dolorum, libero, dolor provident architecto voluptas fugit quis officia consequatur modi blanditiis ea dignissimos sunt molestiae minus voluptates repellat reiciendis autem a tenetur aliquam. Dignissimos magni consectetur aspernatur nihil eveniet ducimus accusamus dolor odio veritatis officiis minus, incidunt iusto cumque quo non eaque, ex necessitatibus, quibusdam ea est quaerat deserunt consequuntur fugiat! Harum odit dolorum nobis fuga laudantium corporis illo eligendi repellat?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis animi saepe similique! Sint a voluptates repellendus, maiores aperiam itaque consectetur ex aliquam mollitia perspiciatis voluptas totam nihil voluptate ratione odio quis vero exercitationem, laborum nesciunt dicta quia inventore. Tempore aliquam sit itaque, a labore provident?
            .modal-footer
                button(type="button", class="btn btn-outline-brand-primary", data-dismiss="modal") Close