script(src="/libs/jquery/dist/jquery.slim.min.js")
script(src="/libs/popper.js/dist/umd/popper.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src='https://use.fontawesome.com/e1cfac341e.js')
script(src="/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="/libs/bootstrap-autohide-navbar/dist/bootstrap-autohide-navbar.min.js")
script(src="/libs/scrollreveal/dist/scrollreveal.min.js")
script(src="/libs/owl.carousel/dist/owl.carousel.min.js")
script.
    $(function (){
        'use strict';
 
        $('.navbar').bootstrapAutoHideNavbar({
            disableAutoHide: false,
            delta: 5,
            duration: 250,
            shadow: true
        });

        window.sr = ScrollReveal();
        sr.reveal('.reveal');

        $('.gallery-container').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: {enabled: true}
        });

        $('.owl-carousel').owlCarousel({
            center: true,
            items:1,
            loop:true,
            autoplay:true,
            autoplayTimeout:5000,
            autoplayHoverPause:false,
            margin: 20
        });
    });