script(src="/libs/jquery/dist/jquery.slim.min.js")
script(src="/libs/popper.js/dist/umd/popper.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src='https://use.fontawesome.com/e1cfac341e.js')
script(src="/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="/libs/bootstrap-autohide-navbar/dist/bootstrap-autohide-navbar.min.js")
script(src="/libs/aos/dist/aos.js")
script.
    $(function (){
        'use strict';
 
        $('.navbar').bootstrapAutoHideNavbar({
            disableAutoHide: false,
            delta: 5,
            duration: 250,
            shadow: true
        });

        AOS.init({
            offset: 200,
            duration: 300,
            easing: 'ease-in-out',
            delay: 50,
        });

        $('.gallery-container').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: {enabled: true}
        });
    });