script(src="/libs/jquery/dist/jquery.slim.min.js")
script(src="/libs/popper.js/dist/umd/popper.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src='https://use.fontawesome.com/e1cfac341e.js')