$brand-color-primary: #af8c45;
$brand-color-secondary: darken($brand-color-primary, 10%);
$bg-color: white;
$bg-color-alt: darken($bg-color, 5%);

$theme-colors: (
  "brand-primary": $brand-color-primary,
  "brand-secondary": $brand-color-secondary,
  "brand-accent": $brand-color-primary,
  "body": $bg-color,
  "body-alt": $bg-color-alt,
  "transparent": transparent
);

$bg-brand-gradient: linear-gradient(180deg, transparent, rgba($brand-color-primary, 0.4));
$bg-brand:  rgba($brand-color-primary, 0.4);

$link-color: $brand-color-primary;
$body-bg: $bg-color;