$brand-color-primary: #04babe;

$theme-colors: (
  "brand-primary": $brand-color-primary,
  "brand-secondary": $brand-color-primary,
  "brand-accent": $brand-color-primary
);

$bg-brand-gradient: linear-gradient(180deg, transparent, rgba($brand-color-primary, 0.4));
$bg-brand:  rgba($brand-color-primary, 0.4);

$link-color: $brand-color-primary;